{% extends 'pageheader/header.html' %}
{% load static %}

    
        
    {% block meta_seo %}
        
        {% with  author="PhotoShoot" keywords="about, photo, know about us" meta_descripiton="About us page - PhotoShoot" meta_title="About Us" %}
            {{block.super}}
        {% endwith %}
            
    {% endblock meta_seo %}
    

    {% block content %}

    
    {% block nav %}{{block.super}}{% endblock nav %}
        

	
	
    {% block page_info %}
		{% with page_name="About" %}
            {{block.super}} 
    {% endwith %}
    {% endblock %}
        
	
    <div id="about" class="section wb">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2> Welcome To PhotoShoot</h2>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo.</p>
						
                        <a href="#" class="hover-effect-new"><span>Lorem Ipsum</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="{% static 'uploads/about_02.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
			
			<div class="row">
                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="{% static 'uploads/about_03.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-md-6">
                    <div class="message-box">                        
                        <h2> What we do</h2>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo.</p>
						
                        <a href="#" class="hover-effect-new"><span>Lorem Ipsum</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
    <div id="services" class="section lb">
		<div class="container">
			<div class="section-title text-center">
				<h3>Services</h3>
				<p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.
				</p>
			</div><!-- end title -->

			<div class="row">
				
				{% for service in services %}
				<div class="col-md-4">
					<div class="effect-new">
						<div class="services-inner-box">
							<div class="ser-icon">
								<i class="flaticon-{% cycle 'wedding-photo' 'image' 'event' %}"></i>
							</div>
							<h2>{{service.title|title}}</h2>
							<p>{{service.info}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
				
				
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->

	
	{% block review %}
		{{block.super}}
	{% endblock review %}
		
	
{% endblock %}