{% extends 'pageheader/header.html' %}
{% load static %}

	   {% block meta_seo %}
        
        {% with  author="PhotoShoot" keywords="portfolio, photo, know pictures photos" meta_descripiton="Portfolio page - PhotoShoot" meta_title="Portfolio" %}
            {{block.super}}
        {% endwith %}
            
    {% endblock meta_seo %}


	{% block content %}
		


	{% block nav %}
		{{block.super}}
	{% endblock nav %}
	

	
	{% block page_info %}
	
	{% with page_name="Portfolio" %}
		{{block.super}}
	{% endwith %}
	
	{% endblock page_info %}
		
	
    <div id="gallery" class="section lb">
		<div class="container">
			<div class="section-title text-center">
				<h3>Gallery</h3>
				<p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.
				</p>
			</div><!-- end title -->

			<div class="gallery-menu text-center row">
				<div class="col-md-12">
					<div class="button-group filter-button-group">
						<button class="active" data-filter="*">All</button>
						<button data-filter=".photo_a">Wedding</button>
						<button data-filter=".photo_b">Models</button>
						<button data-filter=".photo_c">Fashion</button>
					</div>
				</div>
			</div>

			<div class="gallery-list row">
				
				{% for photo in gallery %}
				<div class="col-md-4 col-sm-6 gallery-grid {% cycle 'photo_a' 'photo_b' 'photo_c' %}">
					<div class="gallery-single fix">
						<img src="{{photo.picture.url}}" class="img-fluid" alt="Image">
						<div class="box-content">
							<div class="inner-content">
								<h3 class="title">{{photo.category|title}}</h3>
								<span class="post">Latest Photo</span>
							</div>
							<ul class="icon">
								<li><a href="{{photo.picture.url}}" data-rel="prettyPhoto[gal]"><i
											class="fa fa-search"></i></a></li>
								<li><a href="#"><i class="fa fa-link"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
	
	
	{% block review %}
		{{block.super}}
	{% endblock review %}
		
	{% endblock content %}

	